<div class="row">
  <div class="col s12 m10 offset-m1">
    <div class="card grey lighten-5 <%= hoverable_article_index %>">
      <%= link_to article_path(article) do %>
        <div class="card-content black-text" id="card-content">
          <% if article.publish == false %>
            <object>
              <%= link_to "下書き中", edit_article_path(article), class: "light-blue darken-3 btn right"%>
            </object>
          <% end %>
          <span class="card-title truncate"><%= article.title %></span>
          <p class="created-date grey-text"><%= article.created_at.strftime("%Y-%m-%d") %></p>
          <p class="article-content" id="<%= truncate_content_article_index %>"><%= article.content %></p>
          <object class="writter right">
            <%= link_to "投稿者:#{article.user.nickname}", user_path(article.user) %>
          </object>
        </div>
      <% end %>
      <% if user_signed_in? && article.user_id == current_user.id %>
      <div class="card-action">
        <%= link_to "編集", edit_article_path(article) %>
        <%= link_to "削除", article_path(article), method: :delete, data:{ confirm: '削除しますか？' } %>
      </div>
      <% end %>
    </div>
  </div>
</div>
