<div class="row">
  <%= form_for article, html: {class: "col s12 m10 offset-m1"} do |f|%>

    <div class="row" id="form-box">
      <div class="input-field col s12">
        <%= f.text_field :title, class: "materialize-textarea", id: "textfield" %>
        <%= f.label :title, "Title" %>
      </div>
    </div>

    <div class="row" id="form-box">
      <div class="input-field col s12">
        <%= f.text_area :content, class: "materialize-textarea", id: "textarea" %>
        <%= f.label :content, "Text" %>
      </div>
    </div>

    <div class="row">
      <div class="col s12">
        <%= f.check_box(:publish, {checked: "false"}, checked_value = "false", unchecked_value = "true") %>
        <%= f.label :publish, "下書きとして保存する" %>
      </div>
    </div>

    <%= f.submit "Send", class: "btn waves-effect orange accent-4"  %>
  <% end %>
</div>
